body.dark-theme {
    background-color: #1B191A;
    color: #fff;
}

.container {
    max-width: 600px;
    text-align: center;
}

.chat-container {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    overflow-y: auto;
    height: 70vh;
    max-height: 600px;
    padding: 10px;
}

.logo {
    width: 20%;
} 
.chat-message {
    margin-bottom: 20px;

}

.chat-message-content {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    background-color: #171717;
    color: #cecece;
    align-self: flex-end;
    margin-left: auto;
    border: #fff 1px solid;
}

.bot-message {
    background-color: #d9d9d9;
    color: #000000;
    align-self: flex-start;
    border: #000000 1px solid;
}

.message-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    
}

.timeline-block {
    display: flex;
    opacity: 0.8;
    font-weight: bold;
    align-items: center;
    justify-content: space-evenly;
}

.input-text {
    flex: 1;
    margin-right: 10px;
}

.depart, .arrive {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* add shadow */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}