<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT-like Interface</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body class="dark-theme">
    <div class="container">
        <!-- Adding the image in the top left corner -->
        <img src="{{ url_for('static', filename='images/vpt_logo.jpg') }}" class="logo" alt="Logo">
        <div class="chat-container">
            <div class="chat-message">
                <div class="chat-message-content bot-message">
                    <p>Hello I will help you with flights booking, can you provide information about your plan? (where you are planning to go, where you are, when you are traveling)</p>
                </div>
            </div>
        </div>
        <form class="message-form">
            <div style="width: 100%; margin-bottom: 5px;">
                <div class="overlay"><i class="fa fa-microphone" id="mic" status="off" style="font-size:36px; margin-left: auto;"></i></div>
                <input type="text" id="input-text" name="input-text" class="form-control" placeholder="Type your message...">
            </div>
            <button type="submit" id="submit-btn" class="btn btn-primary">Send</button>
        </form>
    </div>
    <script>
        const form = document.querySelector('.message-form');


        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const inputText = document.getElementById('input-text').value;
            
            if (inputText === "") {
                return;
            }

            const chatContainer = document.querySelector('.chat-container');

            console.log(inputText)

            // Add user message to chat
            const userMessage = document.createElement('div');
            userMessage.classList.add('chat-message');
            userMessage.innerHTML = `
                <div class="chat-message-content user-message">
                    <p>${inputText}</p>
                </div>
            `;
            
            chatContainer.appendChild(userMessage);
            document.getElementById('input-text').value = "";

            
            document.querySelector('#submit-btn').disabled = true;
            document.querySelector('.logo').src = "{{ url_for('static', filename='images/loading.gif') }}"

            fetch('/send', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({inputText: inputText})
            })
            .then(response => response.json())
            .then(data => {
                
                if (!data.ok) {
                    const botMessage = document.createElement('div');
                    botMessage.classList.add('chat-message');
                    botMessage.innerHTML = `
                        <div class="chat-message-content bot-message">
                            <p>${data.message}</p>
                        </div>
                    `;
                    chatContainer.appendChild(botMessage);
                    document.querySelector('#submit-btn').disabled = false;
                    document.querySelector('.logo').src = "{{ url_for('static', filename='images/vpt_logo.jpg') }}"
                    return;
                }

                console.log(data)

                document.querySelector('.chat-message').scrollIntoView({ behavior: 'smooth' });  
                data = data['best_flights'];              
                for (let i = 0; i < data.length; i++) {
                    
                    const botMessage = document.createElement('div');
                    botMessage.classList.add('chat-message');

                    // Cast price to a number
                    let price = parseFloat(data[i]['price']['total']).toFixed(2);
                    let currency = data[i]['price']['currency'];

                    if (currency != 'USD') {
                        const api_key = "0ec39546577a007a413f51c1"

                        const money_api_url = `https://v6.exchangerate-api.com/v6/${api_key}/pair/${currency}/USD/${price}`

                        fetch(money_api_url, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(response => response.json()).then(data => {
                            price = data['conversion_result']['value'].toFixed(2);
                        })

                    }

                    let segments = data[i]['itineraries'][0]['segments'];
                    let numberOfSegments = segments.length;

                    let messageBlock = document.createElement('div');
                    messageBlock.classList.add('chat-message-content');
                    messageBlock.classList.add('bot-message');
                    
                    let itinerariesBlock = document.createElement('div');


                    for (let j in segments) {
                        if (j != 0) {
                            itinerariesBlock.innerHTML += `<p>Then</p>`
                        }
                        
                        // https://content.airhex.com/content/logos/airlines_SU_100_100_s.png

                        const formatedDeparture = new Date(segments[j]['departure']['at'])
                        const formatedArrival = new Date(segments[j]['arrival']['at'])

                        const timezone = new Date().toLocaleTimeString('en-US', { timeZoneName: 'short' }).split(' ')[2];

                        console.log(timezone)

                        let imgLink = `<img src="https://content.airhex.com/content/logos/airlines_${segments[j]['carrierCode'].substring(0, 2)}_100_100_s.png" />`

                        if (j > 0 && segments[j]['carrierCode'].substring(0, 2) == segments[j - 1]['carrierCode'].substring(0, 2)) {
                            imgLink = '';
                        }

                        itinerariesBlock.innerHTML += `
                            ${imgLink}
                            <div class="timeline-block">
                                <div class="depart">
                                    <p>Depart ${segments[j]['departure']['iataCode']} - ${formatedDeparture.getHours()}:${formatedDeparture.getMinutes() < 10 ? "0" + formatedDeparture.getMinutes() : formatedDeparture.getMinutes()} ${timezone}</p>
                                    <p>${formatedDeparture.getMonth()}/${formatedDeparture.getDate()}/${formatedDeparture.getFullYear()}</p>
                                </div>
                                <span style="font-size: 5rem">&#8594;</span>
                                <div class="arrive">
                                    <p>Arrival ${segments[j]['arrival']['iataCode']} at ${formatedArrival.getHours()}:${formatedArrival.getMinutes() < 10 ? "0" + formatedArrival.getMinutes() : formatedArrival.getMinutes()} ${timezone}</p>
                                    <p>${formatedArrival.getMonth()}/${formatedArrival.getDate()}/${formatedArrival.getFullYear()}</p>
                                </div>        
                            </div>
                        `;
                    }

                    itinerariesBlock.innerHTML += `<p>Price: ${price} USD</p>`
                    messageBlock.appendChild(itinerariesBlock);

                    botMessage.appendChild(messageBlock);
                    chatContainer.appendChild(botMessage);

                    document.querySelector('#submit-btn').disabled = false;
                    document.querySelector('.logo').src = "{{ url_for('static', filename='images/vpt_logo.jpg') }}"

                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        })
        
    </script>
    <script src="{{ url_for('static', filename='record.js') }}"></script>
</body>
</html>
